.bg-mnBlue {
    background-color: rgb(62 81 122);
}

/* .color-blue {
    color: #3B82F6;
}

.font-size-3-75rem {
    font-size: 3.75rem;
}

.font-size-1-25rem {
    font-size: 1.25rem;
}

.blue-color {
    background-color: #3E517A;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 0.25rem;
}

.justify-content-center {
    justify-content: space-around;
    display: flex;
}

.class1 {
    text-align: center;
}
 */
